.git
.github
.cursor
node_modules
**/node_modules
**/.nuxt
**/.output
**/.nitro
**/.cache
**/dist
**/coverage
**/logs
**/run
docker-data
storyweaver-api/data
storyweaver-api/logs
storyweaver-api/run
storyweaver-api/config/config.prod.js
**/.env
**/.env.*
electron
